@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ysabeau:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ysabeau:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ysabeau:wght@300&display=swap");
#primercolor {
  color: gold;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.logo {
  background-image: url(../multimedia/Bandalos\ vintage\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw; /* ajusta la altura a la mitad de la ventana del navegador */
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .nav-link.active {
  color: white;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Ysabeau", sans-serif;
}

.navbar-brand {
  color: rgb(226, 195, 17);
  font-family: "Pacifico", cursive;
  font-size: 34px;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(210, 208, 92);
  align-items: center;
  border: 2px solid transparent;
  padding: 2px;
  transition: 0.8s;
  border-radius: 10px;
  font-family: "Ysabeau", sans-serif;
}

/* NAV BAR END */
/* FOOTER BEGINNING */
.footer {
  font-family: "Ysabeau", sans-serif;
  padding: 30px;
  margin: 0;
  text-align: center;
  background-color: rgb(25, 28, 34);
  list-style: none;
}
.footer h2 {
  color: rgb(145, 145, 138);
}
.footer h3 {
  color: rgb(145, 145, 138);
}

.footer ul {
  color: aliceblue;
  text-decoration: none;
  list-style: none;
  padding: 20px;
}

/* FOOTER END */
/* MAIN BEGINNING */
.main-in {
  background-color: antiquewhite;
  padding: 0px;
  margin: 0;
  font-family: "Ysabeau", sans-serif;
  min-height: 100vh;
  position: relative;
}
.main-in video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-in .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  opacity: 0.5;
  mix-blend-mode: overlay;
}
.main-in .navbar {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.main-in .navbar .bandaloslogo {
  display: flex;
  font-family: "Pacifico", cursive;
  color: gold;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 90px;
  text-decoration: none;
}
.main-in .navbar .bandaloslogo:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
  box-shadow: 10px 10px 5px 0;
  background-color: gold;
}
.main-in .navbar ul {
  display: flex;
  gap: 100px;
  padding: 0;
}
.main-in .navbar ul li {
  font-family: "Pacifico", cursive;
  list-style: none;
  width: max-content;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  border-style: dotted gold;
  color: rgb(4, 4, 4);
}
.main-in .navbar ul li:hover {
  background-color: rgb(170, 170, 170);
  border-radius: 3px;
  padding: 6px;
  border-radius: 20px;
  transition: 0.8s;
  box-shadow: 15px 15px 10px 0;
}
.main-in .navbar ul li a {
  text-decoration: none;
  display: flex;
  font-size: 25px;
  color: rgb(170, 170, 170);
  font-weight: 800;
}
.main-in .navbar ul li a:hover {
  color: rgb(0, 0, 0);
}
.main-in hr {
  border-width: 1px;
  border-style: dotted;
  border-color: black;
  margin: 25px;
}

.img1-ind {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img1-ind div {
  margin-top: 25px;
}

.abimg1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.abimg1 h1 {
  padding-left: 130px;
  margin: 20px;
  color: rgb(52, 42, 19);
}
.abimg1 p {
  margin: 15px;
}

.abimg2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.abimg2 h1 {
  padding-left: 130px;
  margin: 20px;
  color: rgb(52, 42, 19);
}
.abimg2 p {
  margin: 15px;
}

.abimg3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.abimg3 h1 {
  padding-left: 130px;
  margin: 20px;
  color: rgb(52, 42, 19);
}
.abimg3 p {
  margin: 15px;
}

.abimg4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.abimg4 h1 {
  padding-left: 130px;
  margin: 20px;
  color: rgb(52, 42, 19);
}
.abimg4 p {
  margin: 15px;
}

.abimg5 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.abimg5 h1 {
  padding-left: 130px;
  margin: 20px;
  color: rgb(52, 42, 19);
}
.abimg5 p {
  margin: 15px;
}

.main-hist {
  background-color: antiquewhite;
  padding: 20px;
  margin: 0;
  font-family: "Ysabeau", sans-serif;
}

/* MAIN DISCOGRAFIA BEGINNING */
.main-disc {
  background-color: antiquewhite;
  padding: 30px;
  display: grid;
  gap: 15px;
  font-family: "Ysabeau", sans-serif;
}

.main-disc h2 {
  text-align: center;
  padding-bottom: 20px;
}

.main-in h2 {
  color: rgb(54, 53, 47);
  font-size: 30px;
}

.spot1 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: rgb(133, 112, 98);
}

.spot1-div h1 {
  padding: 20px;
}

.spot2 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: antiquewhite;
}

.spot2-div h1 {
  padding: 20px;
}

.spot3 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: rgb(124, 122, 120);
}

.spot3-div h1 {
  padding: 20px;
}

/* MAIN DISCOGRAFIA END */
.main-jour {
  text-align: center;
  padding: 20px;
}

.grid {
  background-color: rgb(211, 189, 156);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area1 area2 area3" "area4 area4 area4 area5 area3";
  gap: 5px;
}

.caja {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.caja img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.c1 {
  grid-area: area1;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}

.c2 {
  grid-area: area2;
  background-color: rgb(96, 172, 147);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}

.c3 {
  grid-area: area3;
  background-color: rgb(23, 228, 160);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}

.c4 {
  grid-area: area4;
  background-color: rgb(53, 96, 82);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}

.c5 {
  grid-area: area5;
  background-color: rgb(119, 154, 142);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}

.caja__body {
  padding: 10px;
}

.c1 img {
  height: 100%;
  width: 40%;
}

.c2 img {
  height: 55%;
}

.c3 img {
  height: 65%;
  width: 100%;
}

.c4 img {
  height: 70%;
}

.c5 img {
  height: 80%;
}

.c1 h2 {
  padding: 10px;
}

.c2 h2 {
  padding: 10px;
}

.c3 h2 {
  padding: 10px;
}

.c4 h2 {
  padding: 10px;
}

.c5 h2 {
  padding: 10px;
}

/* MAIN JOURNEY END */
/* MAIN END */
@media (min-width: 800px) {
  .img1-ind {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .abimg1 {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .abimg2 {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .abimg3 {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .abimg4 {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .abimg5 {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .navbar-nav {
    padding: 15px;
  }
}
@media screen and (min-width: 699px) {
  .spot1 {
    flex-direction: row;
  }
}
@media screen and (min-width: 699px) {
  .spot2 {
    flex-direction: row;
  }
}
@media screen and (min-width: 699px) {
  .spot3 {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .navbar-nav {
    padding-left: 15px;
  }
}


/*# sourceMappingURL=style.css.map */
