@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ysabeau:wght@300&display=swap');

/* MAIN BEGINNING */

.main-in {
    background-color: antiquewhite;
    padding: 0px;
    margin: 0;
    font-family: 'Ysabeau', sans-serif;
    min-height: 100vh;
    position: relative;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);
        opacity: 0.5;
        mix-blend-mode: overlay;
    }

    .navbar {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: auto;
        position: relative;
        z-index: 2;


        .bandaloslogo {
            display: flex;
            font-family: 'Pacifico', cursive;
            color: gold;
            align-items: center;
            padding: 15px;
            margin-bottom: 30px;
            font-size: 90px;
            text-decoration: none;
            :hover {
                color: rgb(0, 0, 0);
                transition: 0.5s;
            }
        }

        ul {
            display: flex;
            gap: 65px;
            padding: 25px;
            
            
            li {
                list-style: none;
                background-color: rgb(255, 255, 255);
                width: fit-content;
                padding: 4px;
                cursor: pointer;
                border-radius: 20px;
                :hover {
                    background-color: rgb(0, 0, 0);
                    border-radius: 3px;
                    color: rgb(255, 251, 251);
                    padding: 6px;
                    border-radius: 20px;
                    transition: 0.8s;
                }

            a {
                text-decoration: none;
                display: flex;
                font-size: 15px;
                color: rgb(0, 0, 0);
                font-weight: 800;
            }

        }

    }
}

    // CODE BELOW IN ABOUT US 

    hr {
        border-width: 1px;
        border-style: dotted;
        border-color: black;
        margin: 25px;
    }
}

// FINISH ABOUT US

.img1-ind {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    div {
        margin-top: 25px;
    }
}

// MAIN ABOUT 

.abimg1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    h1 {
        padding-left: 130px;
        margin: 20px;
        color: rgb(52, 42, 19);
    }

    p {
        margin: 15px;
    }

}

.abimg2 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    h1 {
        padding-left: 130px;
        margin: 20px;
        color: rgb(52, 42, 19);
    }
    p {
        margin: 15px;
    }
}

.abimg3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    h1 {
        padding-left: 130px;
        margin: 20px;
        color: rgb(52, 42, 19);
    }

    p {
        margin: 15px;
    }

}

.abimg4 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    h1 {
        padding-left: 130px;
        margin: 20px;
        color: rgb(52, 42, 19);
    }

    p {
        margin: 15px;
    }

}

.abimg5 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    h1 {
        padding-left: 130px;
        margin: 20px;
        color: rgb(52, 42, 19);
    }

    p {
        margin: 15px;
    }

}

// FINISH MAIN ABOUT

// MAIN HISTORY

.main-hist {
    background-color: antiquewhite;
    padding: 20px;
    margin: 0;
    font-family: 'Ysabeau', sans-serif;

}
/* MAIN DISCOGRAFIA BEGINNING */

.main-disc {
    background-color: antiquewhite;
    padding: 30px;
    display: grid;
    gap: 15px;
    font-family: 'Ysabeau', sans-serif;

}

.main-disc h2 {
    text-align: center;
    padding-bottom: 20px;
}

.main-in h2 {
    color: rgb(54, 53, 47);
    font-size: 30px;
}

.spot1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(133, 112, 98);
}

.spot1-div h1 {
    padding: 20px;
}

.spot2 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: antiquewhite;
}

.spot2-div h1 {
    padding: 20px;
}

.spot3 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(124, 122, 120);
}

.spot3-div h1 {
    padding: 20px;
}

/* MAIN DISCOGRAFIA END */

// MAIN JOURNEY BEGINNING 

.main-jour {
    text-align: center;
    padding: 20px;
}

.grid {
    background-color: rgb(211, 189, 156);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area1 area1 area2 area3" "area4 area4 area4 area5 area3";
    gap: 5px;
}

.caja {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.caja img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.c1 {
    grid-area: area1;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
}

.c2 {
    grid-area: area2;
    background-color: rgb(96, 172, 147);
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
}

.c3 {
    grid-area: area3;
    background-color: rgb(23, 228, 160);
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
}

.c4 {
    grid-area: area4;
    background-color: rgb(53, 96, 82);
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
}

.c5 {
    grid-area: area5;
    background-color: rgb(119, 154, 142);
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
}

.caja__body {
    padding: 10px;
}

.c1 img {
    height: 100%;
    width: 40%;
}

.c2 img {
    height: 55%;
}

.c3 img {
    height: 65%;
    width: 100%;
}

.c4 img {
    height: 70%;
}

.c5 img {
    height: 80%;
}

.c1 h2 {
    padding: 10px;
}

.c2 h2 {
    padding: 10px;
}

.c3 h2 {
    padding: 10px;
}

.c4 h2 {
    padding: 10px;
}

.c5 h2 {
    padding: 10px;
}

/* MAIN JOURNEY END */

/* MAIN END */