// NAV INICIO 

@media (max-width: 700px) {
  .nav-inicio {
    ul {
      flex-direction: column;
      gap: 30px;
    }
  }
}

// @media (min-width: 700px) {
//   .bandaloslogo {
//     margin-bottom: 10px;
//   }
// }

// END NAV INICIO  

@media (min-width: 800px) {
    .img1-ind {
      flex-direction: row;
    }
  }

  // MAIN ABOUT US

  @media (min-width: 800px) {
    .abimg1 {
      flex-direction: row;
    }
  }

  @media (min-width: 800px) {
    .abimg2 {
      flex-direction: row;
    }
  }

  @media (min-width: 800px) {
    .abimg3 {
      flex-direction: row;
    }
  }

  @media (min-width: 800px) {
    .abimg4 {
      flex-direction: row;
    }
  }

  @media (min-width: 800px) {
    .abimg5 {
      flex-direction: row;
    }
  }

  // FINISH MAIN ABOUT US

  @media (min-width: 800px) {
    .navbar-nav {
        padding: 15px;
    }
  }

  // HISTORY START 
 
  @media (max-width: 800px) {
    .hist4img {
      flex-direction: column;
      align-items: center;
    }
  }


  // HISTORY END

  // DISCOGRAFIA START

  @media screen and (min-width: 699px) {
    .spot1 {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 699px) {
    .spot2 {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 699px) {
    .spot3 {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 699px) {
    .spot4 {
      flex-direction: row;
    }
  }

  // DISCROGRAFIA END

  @media (min-width: 800px) {
    .navbar-nav {
      padding-left: 15px;
    }
  }
