/* FOOTER BEGINNING */
.footer {
    padding: 30px;
    margin: 0;
    text-align: center;
    background-color: rgb(177, 177, 172);
    list-style: none;
  }
  
  .footer ul {
    text-decoration: none;
    list-style: none;
    padding: 20px;
  }
  
  /* FOOTER END */