@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ysabeau:wght@300&display=swap');

.logo {
    background-image: url(../multimedia/Bandalos\ vintage\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh; /* ajusta la altura a la mitad de la ventana del navegador */
    width: 100%
  }
  
  .navbar-nav {
    display: flex;
    padding-left: 530px;
    color: white;
    font-family: 'Ysabeau', sans-serif;

  }
  
  .navbar-brand {
    color: rgb(226, 195, 17);font-family: 'Pacifico', cursive;
    font-size: 34px;
  }
  
  .navbar-toggler {
    background-color: rgb(138, 148, 148);
  }
  
  .nav-link:hover {
    color: rgb(210, 208, 92);
    align-items: center;
    border: 2px solid transparent;
    padding: 2px;
    transition: 0.4s;
    border-radius: 4px;
    font-family: 'Ysabeau', sans-serif;
  }

  /* NAV BAR END */